{
    "server": "183.61.251.129",
    "local_address": "127.0.0.1",
    "local_port": 9050,
    "timeout": 300,
    "workers": 1,
    "server_port": "22150",
    "password": "mlQ8MB",
    "method": "aes-128-ctr",
    "obfs": "http_simple",
    "obfs_param": "",
    "protocol": "auth_aes128_md5",
    "protocol_param": ""
}